
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="page-header card horizontal-layout-icon">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="icofont icofont-document-search"></i>
                <div class="d-inline">
                    <h4>@Principal.Resources.Resource.TabelaHV</h4>
                    <span>@Principal.Resources.Resource.TelaGerenciamentoHV</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <button type="button" class="btn btn-grd-primary" id="botao-modal-cadastrar-historico-viagem">
                    <i class="icofont icofont-plus"></i>
                    @Principal.Resources.Resource.Cadastrar
                </button>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-block">
        <div class="table-responsive">
            <table class="table table-striped table-bordered nowrap dataTable" id="historico-viagem-tabela">
                <thead>
                    <tr>
                        <th>@Principal.Resources.Resource.Codigo</th>
                        <th>@Principal.Resources.Resource.Pacote</th>
                        <th>@Principal.Resources.Resource.Data</th>
                        <th>@Principal.Resources.Resource.Acao</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <th>@Principal.Resources.Resource.Codigo</th>
                        <th>@Principal.Resources.Resource.Pacote</th>
                        <th>@Principal.Resources.Resource.Data</th>
                        <th>@Principal.Resources.Resource.Acao</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

@Html.Partial("~/Views/HistoricoViagem/ModalCadastro.cshtml")
@Html.Partial("~/Views/HistoricoViagem/ModalEditar.cshtml")


@section script{
<script src="~/Scripts/MultiIdioma/multi-idioma.js"></script>
<script type="text/javascript">
    loadStrings('HistoricoViagem');
</script>

    <script src="~/Scripts/HistoricoViagens/historicoViagem-tabela.js"></script>
    <script src="~/Scripts/PopularSelects/SelectHistoricoViagem/popular-select-historicoViagem.js"></script>
}


