
@{
    Layout = null;
}

<div class="modal fade" id="historico-viagem-modal-cadastro" tabindex="-1" role="dialog" style="z-index: 1050; display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Principal.Resources.Resource.CadastrarHV</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body">

                <form id="form-modal-cadastro-historico-viagem" method="post">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="nome-campo-idpacote">@Principal.Resources.Resource.Pacote <span class="text-danger font-weight-bold">*</span></label>
                            <select name="historicoViagem.IdPacote" id="select-cadastro-historico-viagem-idPacote" class="form-control"></select >
                        </div>

                        <div class="form-group col-md-6">
                            <label for="nome-campo-data">@Principal.Resources.Resource.Data <span class="text-danger font-weight-bold">*</span></label>
                            <input name="historicoViagem.Data" type="date" id="campo-cadastro-historico-viagem-data" class="form-control"/>
                        </div>
                    </div>
                </form>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect " data-dismiss="modal" id="botao-fechar-modal-cadastro-historico-viagem">@Principal.Resources.Resource.Fechar</button>
                    <button type="button" class="btn btn-primary waves-effect waves-light " id="botao-salvar-modal-cadastrar-historico-viagem">@Principal.Resources.Resource.Cadastrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
